<html>
<head>
  <title>Who's blog?!</title>
</head>
<body><center>
  <h1>Mesa Blog</h1>
    <body>
    <section id="content">
      <h1>New posts</h1>
      <% @posts.each do |post| %>
        <h2><a href="/post"><%= post %>"><%= post.title %></a></h2>
      <% end %>
      <a href="/new_post" class="back">New post</a>
    </section> 
  </body>
</center>
</body>
</html>