<h1> My First Sinatra </h1>
	<h2>
		<b> Author: </b>
			Izzy Ironside
	</h2> 
	<p>
		Izzy Ironside was born on
		<%= Date.today.tuesday? %>.
	</p>
	<%= @greeting %>

<% if Date.today.tuesday? %>
	<p>
		Izzy Ironside is <strong>NOT</strong>
		a fan of Tuesdays like today.
	</p>
	<p>
      Current date: <%= Date.today.strftime ('%D/%M/%Y') %>
      Current time: <%= Time.now.strftime ('%H:%M') %>
   </p>
   <% end %>